<header class="site-header">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between">
            <a href="/" class="logo">
                <img src="{{ store.logo }}" alt="{{ store.name }}">
            </a>
            <nav class="main-menu">
                <ul class="flex space-x-6 rtl:space-x-reverse">
                    <li><a href="/">الرئيسية</a></li>
                    <li><a href="/products">المنتجات</a></li>
                    <li><a href="/contact">اتصل بنا</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
