@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-main);
}

.text-primary {
    color: var(--color-primary);
}

.bg-primary {
    background-color: var(--color-primary);
}
